.note {
    display: flex;
    border-radius: 20px;
    background-color: gray;
    margin-bottom: 20px;
    padding: 5px;
    justify-content: space-between;
    align-items: center;
}

.note h3 {
    margin-left: 15px;
}