.classes1 {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    grid-row: 2 / 3;
    border: solid 0.2vw black;
}

.classes2 {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    grid-row: 3 / 4;
    border: solid 0.2vw black;
}

.classes3 {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    grid-row: 4 / 5;
    border: solid 0.2vw black;
}

.class-list {
    width: 100%;
    display: flex;
    align-items: center;
}

.class-list p {
    font-size: 1.5vmax;
}

.dumbell {
    margin: 0;
    width: 5vmin;
    opacity: 80%;
    margin-right: 10%;
}

.dumbell:hover {
    box-shadow: 0 0 3px 3px black;
}
