.footer-contact {
    width: 100%;
    grid-column: 1 / 2;
    display: flex;
    flex-direction: column;
    border: solid 0.2vw black;
}

.footer-reception {
    width: 100%;
    grid-column: 2 / 3;
    border: solid 0.2vw black;
}

.reception-list {
    display: flex;
    flex-direction: column;
}

.footer-social {
    width: 100%;
    grid-column: 3 / 4;
    border: solid 0.2vw black;
}

.icon {
    width: 3vmax;
    position: relative;
}

.icon-big {
    width: 8vmax;
    padding: .5vmax;
}

h2, .footer-contact p {
    margin-bottom: 1vmax;
}

.reception-list p {
    font-size: 2.5vmin;
    margin-bottom: .5vmax;
}