.homepage-trainer-list {
    width: 100%;
    border: solid 0.2vw black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1.5vmax;
    padding: 1vw;
}

#homepage-trainer-list1 {
    grid-column: 3 / 4;
    grid-row: 2 / 3;
}

#homepage-trainer-list2 {
    grid-column: 3 / 4;
    grid-row: 3 / 4;
}

#homepage-trainer-list3 {
    grid-column: 3 / 4;
    grid-row: 4 / 5;
}
