form {
    display: flex;
    flex-direction: column;
    margin: 10%;
    align-items: center;
}

.form-items{
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
}

form > div {
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    margin-bottom: 10%;
}

.submit{
    height: 3vh;
}

.container {
    display: flex;
    flex-direction: column;
}

a {
    justify-self: center;
}

@media screen and ((min-width: 1000px)) {
    .form-items {
        font-size: larger;
        margin: 0;
        display: flex;
    }
    form{
        margin-bottom: 5%;
    }
    form > div {    
        margin-bottom: 5%;
    }
    a {
        margin-top: 2%;
    }
    .container {
        display: grid;
        grid-template-columns: 0.8fr 1fr 0.8fr;
    }
}

.images{
    display: flex;
    flex-direction: column;
    margin: 5%;
}

.right {
    grid-column-start: 3;
    ;
}

